* {
    background-color: rgb(95, 129, 73);
}

a {
    display: inline;
    text-decoration: none;
    text-align: center;
    text-justify: auto;
}


nav {
    margin-top: 3em;
    margin-right: 1.2em;
    text-align: right;
    padding: 1em;
}

nav a {
    color: aquamarine;
    padding:1em;
    border: thin solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown:hover .dropbtn {
    color: #ffffff;
    background-color: #61f4d4; 
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    margin-top: 1em;
}

/* Dropdown Links */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
}

/* Show the dropdown menu when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Hover */
.dropdown-content a:hover {
    background-color: aquamarine;
    color: white;
}

main {
    margin: 2em;
    border: thick solid black;
}

.gridcontainer {
    padding: 3%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

footer {
    background-color: #c0dfcc;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #c0dfcc;
    color: white;
}

footer p {
    background-color: #c0dfcc;
}