* {
    background-color: rgb(95, 129, 73);
}


a {
    display: inline;
    text-decoration: none;
    text-align: center;
    text-justify: auto;
}


nav {
    margin-top: 3em;
    margin-right: 1.2em;
    text-align: right;
    padding: 1em;
}

nav a {
    color: aquamarine;
    padding:1em;
    border: thin solid black;
}


main {
    margin: 2em;
    border: thick solid black;
}

.gridcontainer {
    padding: 3%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}

footer {
    background-color: #c0dfcc;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #c0dfcc;
    color: white;
}

footer p {
    background-color: #c0dfcc;
}